<<<<<<< HEAD
.line-clamp-8 {
    display: -webkit-box;
    -webkit-line-clamp: 8; /* Limit to 8 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5rem; /* Adjust the height to match 8 lines of text */
    margin-bottom: auto; /* Ensure space below the text */
}

.review-carousel {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.review-card {
    height: 350px; /* Fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    padding-bottom: 10px; /* Space for padding between text and container */
    animation: moveUp 10s linear infinite;
}

@keyframes moveUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
=======
.scroll-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    animation: scroll-up 20s linear infinite;
    -webkit-animation: scroll-up 20s linear infinite;
}

@keyframes scroll-up {
    0% {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
}

.review-card {
    opacity: 1;
    transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
}
>>>>>>> 121a009b3e247cdb22cb8b8d3a7fbddea0078c07
